body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    flex: 1;
    padding: 1px;
}

.image-container img {
    width: 10px;
    height: 10px;
    object-fit: cover;
}

.text-container {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
}

.text-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text-container p {
    font-size: 16px;
    margin-bottom: 20px;
}

.explore-btn {
    padding: 10px 20px;
    background-color: red;
    color: red;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    
}

.explore-btn:hover {
    background-color: #0056b3;
}
